<%- include("partials/header.ejs") %>;


<div class="container">
    <div class="about">
<h3>
    Hi I'm Aishwarya!
</h3>

<h4>
    Welcome to our blog! Here, we share insights, tips, and stories on a variety of topics to inspire and inform. Whether you're looking for lifestyle advice, creative inspiration, or just something new to read, you're in the right place. Thanks for stopping by!
</h4>
</div>
</div>

<%- include("partials/footer.ejs") %>;